* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #666B6F;
    color: #94A8DD;
    color: #BDE8CC; */
}

body {
    background-color: #BDE8CC;
    font-family: "Manrope", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5));
}

main {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 25px; 
}

p{
    font-size: 18px;
}

button{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
    cursor: pointer;
}

/* input[type="checkbox"]{
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 30px;
    height: 30px;
    background-color: #fffef5;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    box-shadow: 0 0 3px 0 darkslategrey;
}

input[type="checkbox"]:after{
    content: '\2713';
    font-size: 26px;
    display: none;
}

input[type="checkbox"]:checked:after{
    display: block;
}

input[type="checkbox"]:hover:after{
    display: block;
    opacity: 0.2;
}

input[type="checkbox"]:hover:checked:after{
    opacity: 1;
} */

.navHeader {
    padding: 110px 35px;
}

.ulNav {
    display: flex;
    flex-direction: column;
    gap: 55px;
    list-style: none;
}

.aNav {
    font-size: 20px;
    color: #BDE8CC;
    transition: text-shadow 0.2s ease
}

.aNav i {
    margin-right: 8px;
}

.aNav:hover {
    color: white;
    text-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff;
}

.container {
    width: 100%;
    margin: 0 150px 0 300px;
}

#app {
    padding-top: 30px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

.menuTasks{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    padding: 15px;
}

.counterTaskBlock{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: end;
    justify-content: center;
    border-right: 2px dotted darkslategrey;
    padding-right: 8px;
}

.filterTasksBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px dotted darkslategrey;
    border-radius: 8px;
    padding: 8px;
}

.sortTasksMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px dotted darkslategrey;
    border-radius: 8px;
    padding: 8px;
}

.sortTasksBtn{
	border-radius: 14px;
	background-color: #94A8DD;
    color: white;
    min-width: 90px;
    height: 28px;
    transition: background 0.2s ease;
}

.sortTasksBtn:hover{
	background-color: #738DD3;
}

.tasksBlock{
    display: flex;
    flex-direction: column;
    border-top: 2px dashed darkslategrey;
    padding-top: 30px;
    gap: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    max-width: 630px;
    min-width: 260px;
    width: 100%;
    background-color: #dbfde7;
}

.taskContentBLock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 65%;
}

.taskTitle{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid darkslategrey;
}

.taskDescription{
    display: flex;
}

.taskDescriptionSpan{
    margin-left: 5px;
}

.editTaskSelect{
    border-right: 1px solid darkslategrey;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 0 5px 0 darkslategrey;
}

.editTaskSelect:focus{
    outline: none;
}

.editTaskInput{
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit; 
    border: none;
    background: none;
    width: 100%;
    text-overflow: ellipsis;
    border-right: 1px solid darkslategrey;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 0 5px 0 darkslategrey;
    background-color: white;
}

.editTaskInput:focus{
   outline: none;
}

.taskBtnBLock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    border-left: 2px dashed darkslategrey;
    padding-left: 15px;
}

.deleteBtn{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #a9352d;
    color: #ffffff;
    font-size: 20px;
    transition: background 0.2s ease;
}

.deleteBtn:hover {
    background-color: #912E27;
}

.editTaskBtn{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #94A8DD;
    color: #ffffff;
    font-size: 18px;
    transition: background 0.2s ease;
}

.editTaskBtn:hover{
	background-color: #738DD3;
}

.customCheckbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.realCheckbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.fakeCheckbox {
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease;
  position: relative;
}

.customCheckbox:hover .fakeCheckbox {
  border-color: #4CAF50;
}

.realCheckbox:checked + .fakeCheckbox {
  background: #4CAF50;
  border-color: #4CAF50;
}

.realCheckbox:checked + .fakeCheckbox::after {
  content: '';
  position: absolute;   
  top: 2px;
  left: 8px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.activeTaskBlock, .inactiveTaskBlock{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

dialog {
  padding: 25px 30px;
  border: none;
  border-radius: 15px;
  margin: auto;
  max-width: 30vw;
  max-height: 50vh;
  width: 100%;
  height: auto;
  background-color: #BDE8CC;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

#showModalBtn {
	border-radius: 25px;
	background-color: #94A8DD;
    color: white;
    max-width: 200px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    transition: all 0.2s ease;
}

#showModalBtn:hover {
    background-color: #738DD3;
}

.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.modalInputBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px dashed darkslategrey;
    padding-bottom: 25px;
}

.modalInput, .modalPriority{
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit; 
    border-right: 1px solid darkslategrey;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 0 5px 0 darkslategrey;
    padding: 5px;
}

.modalInput:focus, .modalPriority:focus{
    outline: none;
}

.modalBtnMenu{
    display: flex;
    justify-content: space-between;
}

.modalBtn{
	border-radius: 23px;
    border: none;
	background-color: #94A8DD;
    color: white;
    width: 150px;
    height: 46px;
    transition: background 0.2s ease;
}

.modalBtn:hover{
	background-color: #738DD3;
}

.markLabel{
    display: flex;
    gap: 10px;
    align-self: self-end;
    align-items: center;
}

.taskDone {
    position: relative;
    background-color: #7b9e87;
}

.taskDone:after {
    position: absolute;
    top: 33%;
    right: 33%;
    content: 'Выполнено';
    color: white;
    font-size: 40px;
    border: 2px dashed white;
    padding: 4px;
    transform: rotate(20deg);
}

#searchTaskForm{
    display: flex;
    flex-wrap: nowrap;
    max-width: 280px;
    width: 100%;
    align-items: center;
}

.searchTaskInput{
    font-family: inherit;
    font-size: inherit; 
    line-height: inherit; 
    margin: 0; 
    width: 75%;
    height: 38px;
    border: 0;
    border-radius: 19px 0 0 19px;
    padding-left: 5px;
    transition: box-shadow 0.2s ease;
}

.searchTaskInput:focus{
    outline: none;
    box-shadow: 0 0 20px 0 #ffffff;
}

.searchTaskBtn{
	border-radius: 0 19px 19px 0;
	background: #94A8DD;
    color: white;
    width: 25%;
    height: 38px;
    border: 0;
    border-left: none;
    transition: background 0.2s ease;
}

.searchTaskBtn:hover{
	background-color: #738DD3;
}

.habits{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

#addHabitForm{
    display: flex;
    flex-wrap: nowrap;
    max-width: 550px;
    width: 100%;
    align-items: center;
}

.addHabitInput{
    font-family: inherit;
    font-size: 20px; 
    line-height: inherit; 
    margin: 0; 
    width: 75%;
    height: 48px;
    border: 0;
    border-radius: 24px 0 0 24px;
    padding-left: 15px;
    transition: box-shadow 0.2s ease;
}

.addHabitInput:focus{
    outline: none;
    box-shadow: 0 0 30px 0 #ffffff;
}

.addHabitkBtn{
	border-radius: 0 24px 24px 0;
	background: #94A8DD;
    color: white;
    width: 25%;
    height: 48px;
    border: 0;
    border-left: none;
    transition: background 0.2s ease;
}

.addHabitkBtn:hover{
	background-color: #738DD3;
}

.habitsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-top: 2px dashed darkslategrey;
    padding-top: 30px;
    gap: 20px;
}

.habit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    background-color: #dbfde7;
}

.habitHeaderBLock {
    display: flex;
    justify-content: space-between;
}

.habitName {
    display: block;
    width: 80%;
    word-wrap: break-word;
}

.weekProgress {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
}

.dayCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.dayLabel {
    color: #666;
}

.dayNumber {
    font-weight: 550;
}

.dayStatus {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    border-radius: 50%;
}

.dayStatus.completed {
  background-color: #4caf50;
}

.dayStatus.missed {
  background-color: #f44336;
}

.dayStatus.pending {
  background-color: #e0e0e0;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

.mainContent{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mainContentUp{
    display: flex;
    gap: 130px;
}

.mainContentBlock{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    background-color: #dbfde7;
}

.mainContentTasks{
    align-items: center;
    max-width: 200px;
    width: 100%;
}

.mainContentStatistics{
    display: flex;
    flex-direction: column;
    max-width: 130px;
    align-items: end;
    padding-right: 5px;
    gap: 15px;
    border-right: 2px dotted darkslategrey;
}

.quotes{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 20px;
    border-bottom: 2px dashed darkslategrey;
}

#quote{
    font-size: 40px;
    font-style: italic;
}

#authorQuote{
    font-size: 60px;
}

.mainContentHabits{
    max-width: 700px;
    width: 100%;
}

.habitsProgress{
    display: flex;
    justify-content: space-between;
}

.habitsProgressHalf{
    display: flex;
    flex-direction: column;
    width: 49%;
    align-items: start;
    gap: 20px;
    border-left: 2px dotted darkslategrey;
    padding-left: 13px;
}

.habitHomeBlock{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

.habitHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    padding: 10px;
     word-break: break-word;
}

.habitHomeName {
    max-width: 150px;
}

.markHabitBtn{
	border-radius: 13px;
	background: #94A8DD;
    color: white;
    max-width: 90px;
    width: 100%;
    height: 26px;
}