* {
    margin: 0;
    padding: 0;
    /* color: #666B6F;
    color: #94A8DD;
    color: #BDE8CC; */
}

body {
    background-color: #BDE8CC;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3));
}

main {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navHeader {
    padding: 50px 15px;
}

.ulNav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 150px 0 300px;
}

#app {
    padding-top: 30px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
}

.menuTasks{
    display: flex;
    justify-content: start;
    gap: 50px;
}

.tasksBlock{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.activeTaskBlock, .inactiveTaskBlock{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 darkslategrey;
    max-width: 400px;
}

dialog {
  padding: 25px 30px;
  border: none;
  border-radius: 15px;
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #BDE8CC;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

#showModalBtn {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		border-radius: 18px;
		background: #94A8DD;
        color: white;
        max-width: 130px;
        height: 36px;
}

.modalForm {
    max-width: 800px;
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modalInput{
    background-color: rgba(189, 232, 204, 0.5);;
}

.modalBtn{
    -webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		border-radius: 18px;
		background: #94A8DD;
        color: white;
        width: 130px;
        height: 36px;
}

.taskDone {
    background-color: red;
}

.taskContentBLock{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.taskBtnBLock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}